:root {
    /* Text color */
    --logo-basic: #000000;
    --logo-web: #2196f3;
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --hover-color: #2196f3;
    --logo-studio-footer: #ffffff;
    --office-address-color: #ffffff;
    --contacts-footer-color: rgba(255, 255, 255, 0.6);

    --hero-title-color: #ffffff;
    --hero-button-color: #ffffff;

    --filter-button-hover-color: #ffffff;

    /* Header border */
    --header-border-color: #ececec;

    /* Button */
    --background-portfolio-button: #f5f4fa;
    --background-button-hover: #2196f3;

    /* Hero block */
    --hero-color: #2f303a;

    /* Advantages card */
    --background-icon: #f5f4fa;

    /* Our team */
    --background-team: #f5f4fa;
    --color-icon: #afb1b8;
    --hover-icon: #ffffff;

    /* Regular customers */
    --border-color: #afb1b8;

    /* Card team*/
    --background-card-team: #ffffff;

    /* Portfolio card */
    --portfolio-card-border: #eeeeee;

    /* Footer block */
    --footer-color: #2f303a;
    --join-text-color: #ffffff;
    --join-icon-color: #ffffff;
    --background-social-link: rgba(255, 255, 255, 0.1);

    /* Card set gap */
    --card-set-gap: 30px;
}

/* Common */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    /* outline: 1px solid black; */
    /* background-color: burlywood; */
}

/* Header */
.main-header {
    border-bottom: 1px solid var(--header-border-color);
}

/*  Logo */
.logo {
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-basic);

    /* outline: 1px solid blueviolet; */
}

.logo-web {
    color: var(--logo-web);
}

/* Main navigation */
.header-navigation {
    display: flex;
    align-items: center;
    /* Сработало только на адрес */
}

.main-navigation {
    display: flex;
    align-items: center;
    /* Для лого */
}

.navigation-link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}

.main-navigation-list {
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navigation-item {
    margin-right: 50px;

    /* outline: 1px solid blueviolet; */
}

.navigation-item:last-child {
    margin-right: 0;
}

.header-address {
    margin-left: auto;

    /* outline: 1px solid blueviolet; */
}

.header-address-list {
    display: flex;
    padding-left: 0;
    margin: 0;
}

.address-list-item {
    margin-right: 30px;
    display: flex;

    /* outline: 1px solid blueviolet; */
}

.address-list-item:last-child {
    margin-right: 0;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--hover-color);
}

.current-link {
    color: var(--hover-color);
}

/* Contacts header */
.contacts-header {
    display: inline-flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}

.contacts-header:hover,
.contacts-header:focus {
    color: var(--hover-color);
}

.header-icon {
    fill: currentColor;
    margin-right: 10px;
}

/* Main */
.color-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: inline-block;
    border: none;

    background-color: var(--background-button-hover);
    color: var(--hero-button-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Footer */
.main-footer {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-flex-container {
    display: flex;
    align-items: baseline;
}

.footer-address-wrapper {
    margin-right: 70px;
}

.main-footer .logo {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
}

.logo-studio {
    color: var(--logo-studio-footer);
}

.office-address {
    margin-bottom: 9px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: var(--office-address-color);
}

.footer-contacts-list {
    padding-left: 0;
}

.contacts-list-item {
    margin-bottom: 9px;
}

.contacts-list-item:last-child {
    margin-bottom: 0;
}

.contacts-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--contacts-footer-color);
}

.footer-join-wrapper {}

.join-text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--join-text-color);
}

.join-icons-list {
    display: flex;
}

.join-item {
    margin-right: 10px;
}

.join-item:last-child {
    margin-right: 0;
}

.join-social-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    background-color: var(--background-social-link);
    color: var(--join-icon-color);
}

.join-social-link:hover,
.join-social-link:focus {
    background-color: var(--hover-color);
}

.social-icon {
    fill: currentColor;
}
/* Герой */
.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--hero-title-color);
}

.hero-button {
    padding: 10px 32px;
    border-radius: 4px;
}

/* Наши преимущества */
.advantages-section {
    padding-top: 94px;
}

.advantages-list {
    display: flex;
    padding-left: 0;

    /* outline: 1px solid blueviolet; */
}

.advantages-item {
    flex-basis: calc(100% / 4);
    margin-right: 30px;

    /* outline: 1px solid blueviolet; */
}

.advantages-item:last-child {
    margin-right: 0;

    /* outline: 1px solid blueviolet; */
}

.advantages-icon-container {
    display: inline-flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: var(--background-icon);
}

.advantage-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantage-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

/* Чем мы занимаемся */
.projects-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    padding-left: 0;
}

.work-list-item {
    flex-basis: calc(100% / 3);
    margin-right: 30px;
}

.work-list-item:last-child {
    margin-right: 0;
}

/* Наша команда */
.team-section {
    background-color: var(--background-team);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    padding-left: 0;
}

.team-list-card {
    flex-basis: calc(100% / 4);
    margin-right: 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    background-color: var(--background-card-team);
}

.team-list-card:last-child {
    margin-right: 0;
}

.person-description {
    padding: 30px 10px;
}

.card-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.position {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.team-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-icons-item {
    margin-right: 10px;
}

.team-icons-item:last-child {
    margin-right: 0;
}

.team-social-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    color: var(--color-icon);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--hover-color);
    color: var(--hover-icon);
}

.team-social-icon {
    fill: currentColor;
}

/* Постоянные клиенты */
.regular-customers-section {
    padding: 94px 0;
}

.customers-list {
    display: flex;
}

.customers-item {
    margin-right: 30px;
}

.customers-item:last-child {
    margin-right: 0;
}

.customers-link {
    display: inline-flex;
    width: 170px;
    height: 90px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;

    color: var(--color-icon);
}

.customers-link:hover,
.customers-link:focus {
    color: var(--hover-color);
    border-color: var(--hover-color);
}

.customers-icon {
    fill: currentColor;
}
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
    -moz-tab-size: 4;
    tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
    margin: 0;
}


/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
    text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
        monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
    /* 1 */
    text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
    box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
    padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}
/* Main content */
.portfolio-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Фильтр */
.filter-list {
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item {
    margin-right: 8px;
}

.filter-item:last-child {
    margin-right: 0;
}

.filter-item:hover {}

.filter-button {
    padding: 6px 22px;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: none;
    background-color: var(--background-portfolio-button);
    color: var(--main-text-color);
}

.filter-button:hover,
.filter-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--background-button-hover);
    color: var(--filter-button-hover-color);
}

/* Наши работы */
.portfolio-cards {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--card-set-gap));
    margin-bottom: calc(-1 * var(--card-set-gap));

    /* outline: 1px solid black; */
}

.card-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-right: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);

    /* outline: 1px solid blueviolet; */
}
.portfolio-card-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-item:hover,
.card-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-description {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-card-border);
    border-top: none;
}



.type-project {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}
